# To install this environment
# python -m venv .venv
# venv\Scripts\activate
# pip install -r requirements.txt
edit_distance==1.0.3
termcolor==1.1.0
ipykernel==5.3.4
ipython-genutils==0.2.0
matplotlib==3.2.2
numpy==1.21.0
pandas==1.1.5
requests==2.24.0
pydub==0.25.1
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.10.1
azure-cognitiveservices-speech>=1.17.0
scikit-plot==0.3.7
pytest