# To install this environment
# python -m venv .venv
# venv\Scripts\activate
# pip install -r requirements.txt
edit_distance==1.0.3
termcolor==1.1.0
ipykernel==5.3.4
ipython_genutils==0.2.0
matplotlib==3.7.1
numpy==1.24.2
pandas==1.5.3
requests==2.24.0
pydub==0.25.1
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
azure-cognitiveservices-speech>=1.17.0
scikit-plot==0.3.7
pytest